<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="contrainer">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Academy Wallet</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/create">Create</a></li>
		      <li><a href="/balance">Balance</a></li>
		      <li><a href="/send">Send</a></li>
		      <li><a href="/load">Load</a></li>
		      <li><a href="/recover">Recover</a></li>
		    </ul>
		  </div>
		</nav>

		<% if (typeof error !== "undefined") { %>	
			<div class="alert alert-danger">
			   <%= error %>
			</div>
		<% } %>

		<div class="jumbotron col-sm-12">
			<div class="col-sm-1"></div>
			<h1 class="display-3">Create wallet!</h1>
			<p class="lead">Fill the form bellow </p>

			<form method="post" action="/create" class="row" enctype="application/x-www-form-urlencoded">

				<div class="col-md-4 mb-3">
					<div class="form-group">
						<label for="validationCustom01">Password</label>
						<input type="password" name="password" class="form-control" required>
					</div>

					<div class="form-group">
						<label for="validationCustom01">Confirm password</label>
						<input type="password" name="confirmPassword" class="form-control" required>
					</div>

					<div class="form-group">
						<input type="submit" class="btn btn-defautl">
					</div>
    			</div>
			</form>
		</div>

		<% if (typeof mnemonic !== "undefined") { %>
		<div class="row">
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Your mnemonic is : </strong> <%= mnemonic %><br>
				<strong>Your file is : </strong> <%= filename %>
			</div>
		</div>
		<% } %>
	</div>
</body>
</html>
