<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
</head>
<body>
	<div class="contrainer">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Kingsland Wallet</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="/create">Create</a></li>
		      <li><a href="/balance">Balance</a></li>
		      <li><a href="/send">Send</a></li>
		      <li><a href="/load">Load</a></li>
		      <li><a href="/recover">Recover</a></li>
		    </ul>
		  </div>
		</nav>
		<div class="row">

			<div class="jumbotron col-sm-12">
				
				<div class="col-sm-3">
					<img src="../images/wallet.png">
				</div>

				<div class="col-sm-9">
					<h1 class="display-3">Welcome to our Wallet!</h1>
				  
					<hr class="my-4">
				
					<p>With this wallet you can create deterministic wallet, check the balance of address and send a transaction</p>
				</div>
			
				
			</div>
		</div>

		<div class="credits">Icon made by [author link] from www.flaticon.com </div>
</div>
</body>
</html>