<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="contrainer">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Academy Wallet</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="/create">Create</a></li>
		      <li><a href="/balance">Balance</a></li>
		      <li><a href="/send">Send</a></li>
		      <li class="active"><a href="/load">Load</a></li>
		      <li><a href="/recover">Recover</a></li>
		    </ul>
		  </div>
		</nav>
		
		<% if (typeof error !== "undefined") { %>	
			<div class="alert alert-danger">
			   <%= error %>
			</div>
		<% } %>

		<div class="jumbotron col-sm-12">
			<div class="col-sm-1"></div>
			<h1 class="display-3">Load a wallet!</h1>
			<p class="lead">Load a file and password for decrypt </p>

			<form class="row" method="post" enctype="application/x-www-form-urlencoded">

				<div class="col-md-4 mb-3">
					<div class="form-group">
						<label>Name of the file</label>
						<input type="text" class="form-control" name="filename" required>
					</div>

					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password" required>
					</div>

					<div class="form-group">
						<input type="submit" class="btn btn-defautl" value="Decrypt">
					</div>
    			</div>
			</form>
		</div>

		<% if (typeof address !== "undefined") { %>
		<div class="row">
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Address : </strong> <%= address %> <br>
				<strong>Private Key : </strong> <%= privateKey %><br>
				<strong>Mnemonic : </strong> <%= mnemonic %>
			</div>
		</div>
		<% } %>
</div>
</body>
</html>
